/* defalt setting */
/* @font-face{
  font-family: "My-first";
  src:url("B:\Frontend\ที่เก็บถาวร\mawin\font\SukhumvitSet-Text.ttf");
} */

body{
  background-color: #161A26;
}

*{
  font-family: 'Kanit', sans-serif;
  margin: 0px;
  padding: 0px;
  outline: none;
  list-style: none;
  text-align: center;
}

html {
  font-size: 64.5%;
}

/* end of defalt setting */

/* top navbar */

.top-navbar{
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}


/* end of top navbar */
.First-nav{
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #161A26;
}

.Second-nav{
  background-color: #282F44;
  padding: 0 30rem
}

.First-nav{
  padding: 0.5rem 0;
}

.First-nav div{
  color: #FFFFFF;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161A26;

}

.First-nav h3{
  margin-left: 1rem;
}

.First-nav span{
  color: #FAD131;
}

.Logo-img{
  width: 3rem;
}

/* Second navbar */
.Second-nav{
  display: flex;
}

.Second-nav-user{
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.Second-nav-user div{
  margin-left: 1rem;
}

.Second-nav-user h1{
  font-size: 1.4rem;
  color: #AFAFAF
}


.Second-nav-user h2{
  font-size: 1.4rem;
  color: #FFFF;

}

.user-icon{
  font-size: 3rem;
  color: #20115B;
  background-color: #ffff;
  border-radius: 50%;
  padding: 0.1rem;
}

.Second-nav-button{
  display: flex;
  margin-left: auto;
}

.Second-nav-button-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}

.Second-nav-button-list h2{
  font-size: 1.2rem;
  color: #FFFF;
}


.Second-nav-button-list img{
  width: 3.5rem;
  margin: 0.1rem;
}

/* End of Second navbar */

/* Money section */

.money-section{
  margin-top: 10rem;
  padding: 0 30rem;
}

.money-section-circle{
  color: #FFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.money-circle{
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  background-color: #282F44;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.money-circle h1{
  font-size: 1.8rem;
}

.money-circle h2{
  font-size: 2.4rem;
  margin-top: 2rem;
}


.cash-btn{
  display: grid;
  font-size: 2.4rem;
  color: #FFFFFF;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.cash-btn div{
  margin: 1.5rem;
  border-radius: 1rem;
  padding: 0.8rem 1rem;
}

.money-btn-deposit{
  background-color: #32D74B;
  display: flex;
  align-content: space-around;
  align-items: center;
}

.money-btn-deposit i{
  margin-left: auto;
}

.money-btn-withdraw{
  background-color: #FF2D55;
  display: flex;
  align-content: space-around;
  align-items: center;
}

.money-btn-withdraw i{
  margin-left: auto;
}


/* End of Money section */

/* Main Menu */
.All-Main-Menu{
  padding-bottom: 20rem;
  background-color: #282F44;
  border-radius: 3rem;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
}
  /* Importance Menu  */

.Importance-Menu{
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
}

.Importance-Menu div{
  flex-grow: 1;
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.Importance-Menu li{
  margin: 1rem 0;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #161A26;
  border-radius: 1.5rem;
}

.huay-menu{
  background-image: url(../img/Hot-menu.svg);
  background-size: 30%;
  background-repeat: no-repeat;
}

.Importance-Menu h2{
  font-size: 1.8rem;
  color: #FFFFFF;
}

.icon-huay{
  background-image: url(../img/Huaymenu.svg);

}

.icon-casino{
  background-image: url(../img/casinomenu.svg);
}

.icon-game{
  background-image: url(../img/gamemenu.svg);
}

.icon-ball{
  background-image: url(../img/ballmenu.svg);
}


.icon{
  display: inline-block;
  width: 8rem;
  height: 8rem;
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
  background-position: center;
}

  /* End of Importance Menu  */

  /* All Menu */

.icon-list{
  background-image: url(../img/icon-list.svg);
}
.icon-reward{
  background-image: url(../img/icon-reward.svg);
}
.icon-number{
  background-image: url(../img/icon-number.svg);
}
.icon-friends{
  background-image: url(../img/icon-friends.svg);
}
.icon-credit{
  background-image: url(../img/icon-credit.svg);
}
.icon-money{
  background-image: url(../img/icon-money.svg);
}
.icon-news{
  background-image: url(../img/icon-news.svg);
}
.icon-rate{
  background-image: url(../img/icon-rate.svg);
}
.icon-movie{
  background-image: url(../img/icon-movie.svg);
}
.icon-ballonline{
  background-image: url(../img/icon-ballonline.svg);
}

.all-Menu h2{
  font-size: 1.8rem;
  color: #FFFFFF;
}

.all-Menu{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  margin: 0 1rem;
}

.all-Menu div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.all-Menu div:last-child{
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}


.all-Menu li{
  margin: 1rem 0;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #161A26;
  border-radius: 1.5rem;
}

  /* End of All Menu */

/* footer */

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #07080D;
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 0;
  z-index: 10;
}

.footer-contain{
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0 10rem;
}

.footer-contain li{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding-bottom: 0.5rem;
}

.footer-contain li:not(.footer-yigi):not(.footer-mawin):not(.footer-ball)::after{
  content: "";
  width: 0.1rem;
  height: 80%;
  background-color: #FAD131;
  position: absolute;
  right: 0;
  top: 1rem;
}

.icon-footer{
  width: 6rem;
  height: 6rem;
  background-size: 4rem 4rem;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-yigi{
  position: relative;
  z-index: 1;
}

.footer-casino{
  position: relative;
  z-index: 1;
}

.icon-footer-home{
  background-image: url(../img/footer-home.svg);
}
.icon-footer-huay{
  background-image: url(../img/footer-huay.svg);
}
.icon-footer-yigi{
  background-image: url(../img/footer-yigi.svg);
}

.footer-mawin{
  position: relative;
}

.icon-footer-mawin{
  width: 15rem;
  height: 15rem;
  background-size: 6rem 6rem;
  background-color: #07080D;
  background-image: url(../img/footer-mawin.svg);
  background-position: 50% 20%;
  position: absolute;
  top: -5rem;
  border-radius: 50%;
  z-index: 0;
}
.footer-mawin h1{
  position: absolute;
  top: 3rem;
}

.icon-footer-casino{
  background-image: url(../img/footer-casino.svg);
}
.icon-footer-game{
  background-image: url(../img/footer-game.svg);
}
.icon-footer-ball{
  background-image: url(../img/footer-ball.svg);
}

.footer h2{
  color: #FAD131;
  font-size: 1.6rem;
}

.footer h1{
  color: #FFFFFF;
  font-size: 2rem;
}

.circle_footer{
  display: flex;
  justify-content: center;
  background-color: red;
  flex-wrap: wrap;
}

/* end of footer */




/* End of Main Menu */

/* Casino section  */
.casino-section{
  margin-top: 10rem;
  margin-bottom: 30rem;
}
.casino-section h1{
  font-size: 1.8rem;
  color: #FF9F00;
}
.casino-list-contain{
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 60rem 1fr;
  position: relative;
  z-index: 1;
}

.casino-list{
  grid-column: 2 / 3;
  background-color: #282F44;
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

.casino-list li{
  display: flex;
  flex-direction: column;
  position: relative;
}

.casino-list li:first-child{
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.casino-list img{
  width: 100%;
  border-radius: 2rem 2rem 2rem 2rem;
  margin-bottom: 6rem;
  margin-top: 1rem;
}

#popularcasino-img{
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.casino-list h1{
  color: #FFFFFF;
}

.casino-list h2{
  color: #FFFFFF;
}

.btn-casino-play-popular{
  background-color: #E8BD70;
  padding: 0.8rem 4rem;
  margin: 0.5rem 0;
  font-size: 1.4rem;
  font-weight: bolder;
  border-radius: 1.5rem;
}

.btn-casino-play{
  background-color: #FFFFFF;
  margin: 0.5rem 0;
  padding: 0.5rem 3rem;
  font-size: 1.4rem;
  font-weight: bolder;
  border-radius: 1.5rem;
}

.casino-popular-info{
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #161A26;
  border-radius: 0 0 2rem 2rem;
  bottom: 0;
  left: 0;
}

.casino-info{
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  bottom: 0rem;
  left: 0;
  background-color: #161A26;
  padding: 0.5rem;
  border-radius: 0 0 2rem 2rem;
}

.popular-btn{
  position: absolute;
  top: -1.5rem;
  left: 2rem;
  width: 10rem;
  height: 3rem;
  background-size: 10rem 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/casino/popular.svg);
}

.online-btn{
  position: absolute;
  top: -0.5rem;
  right: 1.5rem;
  width: 8rem;
  height: 3rem;
  background-size: 8rem 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/casino/on.svg);
}


/* End of Casino section  */







/* Responsive */

/* tablet */
@media screen and (max-width: 1312px) {
  .Importance-Menu{
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
  }
  .Second-nav{
    padding: 0 1rem
  }
  .money-section{
    margin-top: 10rem;
    padding: 0 10rem;
  }
  .All-Main-Menu{
  }
}
/* iphone เเนวนอน */
@media screen and (max-width: 992px){
  .footer-contain{
    padding: 0 0.4rem;
  }
  .money-section{
    margin-top: 10rem;
    padding: 0 5rem;
  }
  .All-Main-Menu{
    padding: 1.5rem;
    padding-bottom: 20rem;
  }
  .all-Menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    margin: 0 1rem;
  }
  .all-Menu div:last-child{
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }
}
@media screen and (max-width: 750px){
  html {
    font-size: 50%;
  }
  .icon{
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background-size: 4rem 5rem;
    background-repeat: no-repeat;
    background-position: center;
  }
  .casino-list-contain{
    grid-template-columns: 0.5fr 4.5fr 0.5fr;
  }
}
/* iphone */
@media screen and (max-width: 479px){
  .money-section{
    margin-top: 10rem;
    padding: 0 2rem;
  }
  .All-Main-Menu{
    padding: 0;
    padding-bottom: 20rem;
    margin-left: 0;
    margin-right: 0;
  }
  .footer h2{
    color: #FAD131;
    font-size: 1.4rem;
  }

  .footer h1{
    color: #FFFFFF;
    font-size: 1.4rem;
  }
  .icon-footer{
    width: 3.5rem;
    height: 3.5rem;
    background-size: 3.5rem;
    background-position: center;
    background-repeat: no-repeat;
  }
  .icon-footer-mawin{
    width: 15rem;
    height: 15rem;
    background-size: 6rem 6rem;
    background-position: 50% 20%;
    top: -5rem;
    border-radius: 50%;
  }
  .footer-mawin h1{
    position: absolute;
    top: 3rem;
  }
  .casino-list-contain{
    grid-template-columns: 0.1fr 2fr 0.1fr;
  }
  .casino-list{
    grid-template-columns: 1fr 1fr;
  }
}
/* iphone 5 */
@media screen and (max-width: 321px){
  html {
    font-size: 35%;
  }
  .All-Main-Menu{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

}
